h1{
    color: red;
    background-color: grey;
    text-align: center;
}

/* Stylizing p1 */
p1{
    color: black; /* sets text color */
    background-color: grey; /* Sets the background color */
}

body{
    background-color: grey;
}