h1{
    color: black;
    text-align: center;
}

/* Stylizing p */
p{
    color: black; /* sets text color */
    /* background-color: grey; /* Sets the background color */
}

body{
    background-color: lightgray;
}